---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Welcome to my Astro site!</h1>
  <p>
    This is the home page of my Astro site. It's a work in progress, but I'm
    excited to see where it goes!
  </p>
</BaseLayout>
